<!-- Flask_1/templates/index.html -->
<html>
  <head>
    <title>#Wybór województwa#</title>
  </head>
<body>
  <h7>
    <!-- wyświetlamy komunikaty z funkcji flash -->
    <p>
      <h7>Wybierz województwo:</h7>
    </p>
    <!-- formularz z quizem -->
    <form method="POST">
        <!-- przeglądamy listę pytań -->
        {% for i, w in lista %}
          <p>
            <!-- wyświetlamy treść pytania -->
            {{ i }}
            <input type="radio" value="{{ i }}" name="wybor">
            {{ w }}
          </p>
        {% endfor %}

        <!-- przycisk wysyłający wypełniony formularz -->
        <button type="submit">Wybierz województwo</button>
    </form>
  </h7>
</body>
</html>